Repository ade-sede/dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: alejandra, mdformat

alejandra:
  name: alejandra
  entry: alejandra
  language: system

mdformat:
  name: mdformat
  entry: mdformat
  language: system

fix: pre-commit hooks
  .pre-commit-config.yaml
  home-manager/common/packages.nix
Due: alejandra

fix: README
  README.md
Due: mdformat

refactor: emacs config
  .gitignore
  dotfiles/emacs/.emacs
  dotfiles/emacs/.emacs.old
  dotfiles/emacs/early-init.el
  dotfiles/emacs/emacs.org
  dotfiles/emacs/init.el
  home-manager/common/dotfiles.nix
  home-manager/common/packages.nix
Due: alejandra

fix: better audio setup
  nixos/common/audio.nix
  nixos/common/hardware.nix
Due: alejandra

add bc
  home-manager/common/packages.nix
Due: alejandra

chore: move constants to host specific configuration
  flake.nix
  hosts/alan-macbook/constants.nix
  hosts/koala-devbox/constants.nix
  hosts/koala-devbox/home-manager/standalone.nix
  hosts/koala-devbox/nixos/configuration.nix
  nixos/xserver.nix
Due: alejandra

scw-cli
  home-manager/common/packages.nix
Due: alejandra

fish completion
  dotfiles/fish/custom_config.fish
Due: none

update window rules
  KDE/kwin-rules.kwinrule
  hosts/koala-devbox/home-manager/plasma-config.nix
Due: alejandra

fix: window rules
  KDE/kwin-rules.kwinrule
  hosts/koala-devbox/home-manager/plasma-config.nix
Due: alejandra

fix: window size y
  KDE/kwin-rules.kwinrule
  hosts/koala-devbox/home-manager/plasma-config.nix
Due: alejandra

wip
  flake.nix
  home-manager/linux/desktop.nix
  home-manager/linux/gpg.nix
  home-manager/linux/packages.nix
  hosts/koala-devbox/nixos/audio.nix
  hosts/koala-devbox/nixos/bootloader.nix
  hosts/koala-devbox/nixos/hardware.nix
  hosts/koala-devbox/nixos/networking.nix
  hosts/remote-devbox/constants.nix
  hosts/remote-devbox/home-manager/default.nix
  hosts/remote-devbox/home-manager/standalone.nix
  hosts/remote-devbox/nixos/configuration.nix
  hosts/remote-devbox/nixos/hardware-config.nix
  hosts/remote-devbox/nixos/networking.nix
  nixos/common/configuration.nix
  nixos/linux/programs.nix
  nixos/linux/systemd.nix
  nixos/linux/xserver.nix
Due: alejandra

wip
  README.md
  hosts/remote-devbox/nixos/hardware-config.nix
  nixos-infect-cloud-init.yaml
Due: alejandra, mdformat

wip
  README.md
Due: mdformat

wip
  README.md
  hosts/remote-devbox/nixos/hardware-config.nix
Due: alejandra, mdformat

Add remote-devbox hardware config
  README.md
  hosts/remote-devbox/nixos/networking.nix
Due: alejandra, mdformat

Update remote-devbox hardware config and enable SSH
  nixos/common/services.nix
Due: alejandra

Fix SSH config: remote-devbox only, mutableUsers=true, update hardware config
  README.md
  hosts/remote-devbox/nixos/configuration.nix
  hosts/remote-devbox/nixos/services.nix
  nixos/common/services.nix
Due: alejandra, mdformat

Document SSH key locations and improve deployment process
  README.md
Due: mdformat

Configure password auth for remote-devbox only
  README.md
  hosts/remote-devbox/nixos/services.nix
Due: alejandra, mdformat

Update hardware config for new remote-devbox
  README.md
Due: mdformat

Add remote-devbox configuration and documentation
  README.md
  flake.nix
  home-manager/linux/desktop.nix
  home-manager/linux/gpg.nix
  home-manager/linux/packages.nix
  hosts/koala-devbox/nixos/audio.nix
  hosts/koala-devbox/nixos/bootloader.nix
  hosts/koala-devbox/nixos/hardware.nix
  hosts/koala-devbox/nixos/networking.nix
  hosts/remote-devbox/constants.nix
  hosts/remote-devbox/home-manager/default.nix
  hosts/remote-devbox/home-manager/standalone.nix
  hosts/remote-devbox/nixos/configuration.nix
  hosts/remote-devbox/nixos/hardware-config.nix
  hosts/remote-devbox/nixos/networking.nix
  hosts/remote-devbox/nixos/services.nix
  nixos-infect-cloud-init.yaml
  nixos/common/configuration.nix
  nixos/linux/programs.nix
  nixos/linux/systemd.nix
  nixos/linux/xserver.nix
Due: alejandra, mdformat

Add ttyd-nerd to remote-devbox
  hosts/remote-devbox/nixos/networking.nix
  hosts/remote-devbox/nixos/services.nix
Due: alejandra

Fix ttyd-nerd hash format
  hosts/remote-devbox/nixos/services.nix
Due: alejandra

Fix ttyd external access by binding to all interfaces
  hosts/remote-devbox/nixos/services.nix
Due: alejandra

Document TTYD web terminal firewall configuration
  README.md
Due: mdformat

feat: dig package
  home-manager/common/packages.nix
Due: alejandra

Add HTTPS support for TTYD with nginx reverse proxy
  hosts/remote-devbox/constants.nix
  hosts/remote-devbox/nixos/services.nix
Due: alejandra

chore: readme
  README.md
Due: mdformat

feat: implement OSC52 clipboard integration for seamless remote copy/paste
  dotfiles/fish/custom_config.fish
  dotfiles/nvim/init.lua
  dotfiles/nvim/lua/clipboard.lua
  home-manager/common/packages.nix
  home-manager/common/tmux.nix
Due: alejandra

feat: fix OSC52 clipboard with tmux-aware strategy
  dotfiles/ghostty/config
  dotfiles/nvim/lua/clipboard.lua
  home-manager/linux/packages.nix
Due: alejandra

feat: add remote SSH detection for OSC52 clipboard
  dotfiles/nvim/lua/clipboard.lua
Due: none

feat: add claude settings to repo
  .gitignore
  dotfiles/claude/CLAUDE.md
  dotfiles/claude/settings.json
  home-manager/common/dotfiles.nix
Due: alejandra, mdformat

feat: claude settings
  .claude/settings.local.json
  .gitignore
  dotfiles/claude/settings.json
Due: none

improve ssh quality of life
  README.md
  home-manager/common/ssh-gpg.nix
Due: alejandra, mdformat

package: nushell
  home-manager/common/packages.nix
Due: alejandra

feat: telescope bufffer sort by mru
  .claude/settings.local.json
  dotfiles/nvim/after/plugin/telescope.lua
Due: none

feat: port forwarding
  home-manager/common/ssh-gpg.nix
Due: alejandra

fix: no expiration on ssh key
  home-manager/linux/gpg.nix
Due: alejandra

Path conditions:
  alejandra: any of: \.nix$
  mdformat: any of: \.md$
