Repository ade-sede/dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: alejandra, mdformat, stylua

alejandra:
  name: alejandra
  entry: alejandra
  language: system

mdformat:
  name: mdformat
  entry: mdformat
  language: system

stylua:
  name: stylua
  entry: stylua
  language: system

never expire key
  hosts/remote-devbox/home-manager/gpg-remote.nix
Due: alejandra

docs
  docs/REMOTE_DEV.md
Due: mdformat

tty instead of ncurses for pinentry on remote
  hosts/remote-devbox/home-manager/gpg-remote.nix
Due: alejandra

expire every hour
  hosts/remote-devbox/home-manager/gpg-remote.nix
Due: alejandra

x11 forwarding
  home-manager/common/programs/ssh-gpg.nix
Due: alejandra

ghostty links
  dotfiles/ghostty/config
Due: none

plex desktop
  hosts/koala-devbox/home-manager/packages.nix
Due: alejandra

xdg config
  hosts/koala-devbox/nixos/configuration.nix
  hosts/koala-devbox/nixos/xdg.nix
Due: alejandra

qbitorrent
  hosts/koala-devbox/home-manager/packages.nix
Due: alejandra

kdeconnect
  hosts/koala-devbox/home-manager/packages.nix
  hosts/koala-devbox/nixos/configuration.nix
Due: alejandra

better LLM instructions
  .gitignore
  CLAUDE.md
  dotfiles/claude/CLAUDE.md
  dotfiles/claude/commands/deslop.md
  dotfiles/claude/plugins/config.json
Due: mdformat

bit of a mixed bag
  dotfiles/claude/settings.json
  dotfiles/direnv/direnv.toml
  dotfiles/fish/custom_config.fish
  dotfiles/ghostty/config
  dotfiles/nvim/after/plugin/lsp.lua
  dotfiles/opencode/config.json
  home-manager/common/packages.nix
  home-manager/common/programs/tmux.nix
Due: alejandra, stylua

fix: tmux shell
  home-manager/common/programs/tmux.nix
Due: alejandra

switch to dark + fix tmux + some claude stuff
  .gitignore
  dotfiles/claude/plugins/known_marketplaces.json
  dotfiles/ghostty/config
  dotfiles/nvim/after/plugin/color.lua
  home-manager/common/programs/tmux.nix
  hosts/alan-macbook/constants.nix
  hosts/koala-devbox/constants.nix
  hosts/remote-devbox/constants.nix
  hosts/remote-devbox/nixos/services.nix
Due: alejandra, stylua

feat: gnome network display
  hosts/koala-devbox/home-manager/packages.nix
Due: alejandra

fix conflict on wallpaper
  .gitignore
  dotfiles/claude/plugins/known_marketplaces.json
  hosts/koala-devbox/home-manager/plasma-config.nix
Due: alejandra

direnv workspaces
  dotfiles/direnv/direnv.toml
Due: none

fixed symlinks
  home-manager/common/packages.nix
  hosts/alan-macbook/home-manager/alan-bin.nix
Due: alejandra

ignore some stuff
  .gitignore
  dotfiles/claude/plugins/known_marketplaces.json
  dotfiles/claude/settings.json
Due: none

fix gpg key location
  dotfiles/claude/plugins/known_marketplaces.json
  hosts/alan-macbook/home-manager/gpg-darwin.nix
Due: alejandra

add atuin with fish integration
  home-manager/common/home.nix
  home-manager/common/programs/atuin.nix
Due: alejandra

add OS notifications when Claude finishes
  dotfiles/claude/settings.json
  dotfiles/ghostty/config
  home-manager/common/programs/ghostty.nix
  scripts/claude-notify.sh
Due: alejandra

fix selection colors across ghostty, tmux, and fish
  dotfiles/ghostty/config
  dotfiles/nvim/after/plugin/color.lua
  home-manager/common/programs/fish.nix
  home-manager/common/programs/ghostty.nix
  home-manager/common/programs/neovim.nix
  home-manager/common/programs/tmux.nix
  themes/colors.nix
Due: alejandra, stylua

fix tmux notification title in ghostty
  home-manager/common/programs/tmux.nix
Due: alejandra

misc: update gitignore, policy limits, plugin refs
  .gitignore
  dotfiles/claude/plugins/known_marketplaces.json
Due: none

improve atuin config and theme integration
  home-manager/common/programs/atuin.nix
  themes/colors.nix
Due: alejandra

atuin: switch search mode to skim
  home-manager/common/programs/atuin.nix
Due: alejandra

gitignore: ignore claude plugin-managed files
  .gitignore
Due: none

claude: update settings and add plugin config
  dotfiles/claude/settings.json
Due: none

alan-bin: symlink ~/.local/bin into ~/.alan/bin
  hosts/alan-macbook/home-manager/alan-bin.nix
Due: alejandra

bump linux kernel
  dotfiles/claude/settings.json
  hosts/koala-devbox/nixos/configuration.nix
  hosts/remote-devbox/nixos/configuration.nix
Due: alejandra

increase TTL
  hosts/remote-devbox/home-manager/gpg-remote.nix
Due: alejandra

Remove system-level gnupg agent
  nixos/linux/programs.nix
Due: alejandra

Disable scdaemon on remote-devbox
  hosts/remote-devbox/home-manager/gpg-remote.nix
Due: alejandra

Remove GPG_TTY from sessionVariables
  home-manager/common/programs/ssh-gpg.nix
Due: alejandra

Ignore claude runtime state and secrets
  .gitignore
Due: none

Add 1Password CLI and alan-macbook host packages
  home-manager/common/packages.nix
  hosts/alan-macbook/home-manager/default.nix
  hosts/alan-macbook/home-manager/packages.nix
Due: alejandra

Update claude config: fable-5, caveman plugin, delegation guide
  dotfiles/claude/CLAUDE.md
  dotfiles/claude/settings.json
Due: mdformat

Path conditions:
  alejandra: any of: \.nix$
  mdformat: any of: \.md$
  stylua: any of: \.lua$
