Repository ade-sede/dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: alejandra, mdformat

alejandra:
  name: alejandra
  entry: alejandra
  language: system

mdformat:
  name: mdformat
  entry: mdformat
  language: system

document theme switching
  README.md
Due: mdformat

document llm is not allowed to nixos rebuild
  AGENTS.md
Due: mdformat

feat: integrate fish with dynamic theme system
  dotfiles/fish/custom_config.fish
  home-manager/common/programs/fish.nix
  themes/colors.nix
Due: alejandra

feat: integrate ghostty with dynamic theme system
  home-manager/common/dotfiles.nix
  home-manager/common/home.nix
  home-manager/common/programs/ghostty.nix
Due: alejandra

feat: add Dracula theme support
  home-manager/common/programs/fish.nix
  themes/colors.nix
Due: alejandra

docs: document Neovim activation script example in THEME.md
  THEME.md
Due: mdformat

docs: add ai-generated label directive for PRs
  CLAUDE.md
  dotfiles/claude/CLAUDE.md
  dotfiles/opencode/AGENTS.md
Due: mdformat

fix: lock + ghostty config
  dotfiles/ghostty/config
  dotfiles/nvim/lazy-lock.json
Due: none

can handle plasma themes from dynamic theme system
  .claude/settings.local.json
  hosts/koala-devbox/home-manager/default.nix
  hosts/koala-devbox/nixos/configuration.nix
  hosts/remote-devbox/nixos/configuration.nix
  themes/colors.nix
Due: alejandra

switch to dracula on koala devbox
  dotfiles/ghostty/config
  dotfiles/nvim/after/plugin/color.lua
  hosts/koala-devbox/constants.nix
Due: alejandra

fix: lockscreen theme
  hosts/koala-devbox/home-manager/default.nix
Due: alejandra

chore: light theme on koala devbox
  dotfiles/ghostty/config
  dotfiles/nvim/after/plugin/color.lua
  hosts/koala-devbox/constants.nix
Due: alejandra

Add GeForce NOW window rule for Desktop_1
  hosts/koala-devbox/home-manager/plasma-config.nix
Due: alejandra

Refactor window rules to consolidate position/size settings
  hosts/koala-devbox/home-manager/plasma-config.nix
Due: alejandra

feat: add lsp and treesitter support for go, templ, and more
  dotfiles/nvim/after/plugin/lsp.lua
  dotfiles/nvim/after/plugin/treesitter.lua
Due: none

fix: update light fish theme to ayu Light
  home-manager/common/programs/fish.nix
Due: alejandra

feat: dotenv alan apps
  dotfiles/direnv/direnv.toml
Due: none

feat: add IBus input method with symbol picker
  home-manager/linux/desktop.nix
  nixos/linux/xserver.nix
Due: alejandra

feat: replace IBus with compose key for symbol input
  home-manager/linux/desktop.nix
  nixos/linux/xserver.nix
Due: alejandra

docs: add pre-commit hook handling instructions
  AGENTS.md
  CLAUDE.md
Due: mdformat

feat: flatpak + steamlink
  flake.lock
  flake.nix
  hosts/koala-devbox/nixos/configuration.nix
  hosts/koala-devbox/nixos/flatpak.nix
Due: alejandra

feat: open ports for steam link
  hosts/koala-devbox/nixos/networking.nix
Due: alejandra

feat: add steamdeck SSH host configuration
  home-manager/common/programs/ssh-gpg.nix
Due: alejandra

feat: add PR template and update Claude configuration
  .github/PULL_REQUEST_TEMPLATE.md
  dotfiles/claude/CLAUDE.md
  dotfiles/claude/settings.json
  dotfiles/opencode/AGENTS.md
Due: mdformat

chore: untrack and ignore Claude local settings
  .claude/settings.local.json
  .gitignore
Due: none

fix: configure ruff formatter to use 120 char line length
  dotfiles/nvim/after/plugin/conform.lua
Due: none

feat: add prettier JSON formatter to pre-commit hooks
  .pre-commit-config.yaml
  dotfiles/claude/settings.json
  dotfiles/nvim/lazy-lock.json
  dotfiles/opencode/config.json
Due: none

feat: add fine-cmdline.nvim plugin with ':' key remapping
  dotfiles/nvim/lazy-lock.json
  dotfiles/nvim/lua/keymap.lua
  dotfiles/nvim/lua/plugins/fine-cmdline.lua
Due: none

chore: opencode defaults to claude
  dotfiles/opencode/config.json
Due: none

feat: support shift enter in ghostty
  dotfiles/ghostty/config
  dotfiles/nvim/lazy-lock.json
Due: none

some claude stuff
  dotfiles/claude/settings.json
Due: none

claude allowed to cd
  dotfiles/claude/settings.json
Due: none

ssh aliases
  home-manager/common/programs/ssh-gpg.nix
Due: alejandra

Add remote-devbox hardware config
  docs/REMOTE_DEV.md
  dotfiles/claude/plugins/config.json
  hosts/remote-devbox/nixos/hardware-config.nix
Due: alejandra, mdformat

docs
  README.md
  docs/KEY_MANAGEMENT.md
  docs/REMOTE_DEV.md
  home-manager/common/packages.nix
Due: alejandra, mdformat

docs
  docs/REMOTE_DEV.md
  dotfiles/ghostty/config
Due: mdformat

docs
  docs/REMOTE_DEV.md
Due: mdformat

use pinentry curses on remote devbox
  hosts/remote-devbox/home-manager/default.nix
  hosts/remote-devbox/home-manager/gpg-remote.nix
Due: alejandra

test
  scripts/unlock-gpg.sh
Due: none

Path conditions:
  alejandra: any of: \.nix$
  mdformat: any of: \.md$
