Repository ade-sede/dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: alejandra, mdformat, stylua

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.18.0
    hooks:
      - id: gitleaks
        language_version: system

  - repo: local
    hooks:
      - id: alejandra
        name: alejandra
        entry: alejandra
        language: system
        files: \.nix$
        
      - id: mdformat
        name: mdformat
        entry: mdformat
        language: system
        files: \.md$
      - id: stylua
        name: stylua
        entry: stylua
        language: system
        files: \.lua$
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.0.3
    hooks:
      - id: prettier
        types: [json]

Clarify flake name lookup in AGENTS.md
  AGENTS.md
Due: mdformat

Add claude skills, opencode commands/plugins, emacs config
  dotfiles/claude/skills/plannotator-annotate/SKILL.md
  dotfiles/claude/skills/plannotator-annotate/agents/openai.yaml
  dotfiles/claude/skills/plannotator-compound/SKILL.md
  dotfiles/claude/skills/plannotator-compound/assets/report-template.html
  dotfiles/claude/skills/plannotator-compound/references/claude-code-fallback.md
  dotfiles/claude/skills/plannotator-compound/scripts/extract_exit_plan_mode_outcomes.py
  dotfiles/claude/skills/plannotator-last/SKILL.md
  dotfiles/claude/skills/plannotator-last/agents/openai.yaml
  dotfiles/claude/skills/plannotator-review/SKILL.md
  dotfiles/claude/skills/plannotator-review/agents/openai.yaml
  dotfiles/claude/skills/plannotator-setup-goal/SKILL.md
  dotfiles/claude/skills/plannotator-setup-goal/SKILL.test.ts
  dotfiles/claude/skills/plannotator-setup-goal/agents/openai.yaml
  dotfiles/claude/skills/plannotator-setup-goal/scripts/scaffold_goal.py
  dotfiles/claude/skills/plannotator-visual-explainer/SKILL.md
  dotfiles/claude/skills/plannotator-visual-explainer/references/design-system.md
  dotfiles/claude/skills/plannotator-visual-explainer/references/pr-components.md
  dotfiles/claude/skills/plannotator-visual-explainer/references/svg-patterns.md
  dotfiles/claude/skills/plannotator-visual-explainer/references/theme-override.md
  dotfiles/emacs/emacs.el
  dotfiles/opencode/command/plannotator-annotate.md
  dotfiles/opencode/command/plannotator-last.md
  dotfiles/opencode/command/plannotator-review.md
  dotfiles/opencode/plugins/aicodemetrics.js
Due: mdformat

Add cropped profile picture
  profile-images/picture-cropped.png
Due: none

add scaleway as an opencode provider
  dotfiles/opencode/config.json
  home-manager/common/packages.nix
Due: alejandra

improve docs & skills
  AGENTS.md
  README.md
  docs/INDEX.md
  docs/REMOTE_DEV.md
  dotfiles/claude/skills/dotfiles-add-host/SKILL.md
  dotfiles/claude/skills/dotfiles-add-program/SKILL.md
  dotfiles/claude/skills/dotfiles-deploy-remote/SKILL.md
  dotfiles/claude/skills/dotfiles-switch-theme/SKILL.md
  dotfiles/claude/skills/dotfiles-update-flake/SKILL.md
  dotfiles/opencode/command/dotfiles-add-host.md
  dotfiles/opencode/command/dotfiles-add-program.md
  dotfiles/opencode/command/dotfiles-deploy-remote.md
  dotfiles/opencode/command/dotfiles-switch-theme.md
  dotfiles/opencode/command/dotfiles-update-flake.md
  flake.nix
Due: alejandra, mdformat

Install and configure Plannotator for OpenCode and Claude Code
  docs/REMOTE_DEV.md
  dotfiles/claude/settings.json
  dotfiles/claude/skills/plannotator-annotate/SKILL.md
  dotfiles/claude/skills/plannotator-last/SKILL.md
  dotfiles/claude/skills/plannotator-review/SKILL.md
  dotfiles/opencode/config.json
Due: mdformat

bunch of stuff + user for pancho
  .opencode/skills/add-user/SKILL.md
  README.md
  dotfiles/claude/skills/dotfiles-add-host/SKILL.md
  dotfiles/claude/skills/dotfiles-add-program/SKILL.md
  dotfiles/claude/skills/dotfiles-deploy-remote/SKILL.md
  dotfiles/claude/skills/dotfiles-switch-theme/SKILL.md
  dotfiles/claude/skills/dotfiles-update-flake/SKILL.md
  dotfiles/claude/skills/plannotator-annotate/SKILL.md
  dotfiles/claude/skills/plannotator-last/SKILL.md
  dotfiles/claude/skills/plannotator-review/SKILL.md
  flake.nix
  home-manager-pancho/README.md
  home-manager-pancho/default.nix
  home-manager-pancho/standalone.nix
  hosts/remote-devbox/nixos/configuration.nix
Due: alejandra, mdformat

move docs
  docs/THEME.md
  themes/README.md
Due: mdformat

Prompt GPG unlock before TUI launch
  home-manager/common/packages.nix
  home-manager/common/programs/starship.nix
Due: alejandra

Restrict docstring writing to Fable
  dotfiles/claude/CLAUDE.md
Due: mdformat

Add dust CLI as npx wrapper on alan-macbook
  hosts/alan-macbook/home-manager/packages.nix
Due: alejandra

Update flake inputs to Aug 2026
  flake.lock
  home-manager/common/meme.nix
  home-manager/common/packages.nix
  home-manager/linux/desktop.nix
  hosts/alan-macbook/home-manager/packages.nix
  hosts/koala-devbox/home-manager/packages.nix
  nixos/linux/systemd.nix
Due: alejandra

Add bash to fix tmux status bar
  home-manager/common/packages.nix
Due: alejandra

Migrate to renamed home-manager options
  home-manager/common/programs/git.nix
  home-manager/common/programs/ssh-gpg.nix
Due: alejandra

Remove duplicate plannotator hook
  dotfiles/claude/settings.json
Due: none

Exclude claude dotfiles from mdformat
  .pre-commit-config.yaml
  dotfiles/claude/commands/deslop.md
  dotfiles/claude/skills/dotfiles-add-host/SKILL.md
  dotfiles/claude/skills/dotfiles-add-program/SKILL.md
  dotfiles/claude/skills/dotfiles-deploy-remote/SKILL.md
  dotfiles/claude/skills/dotfiles-switch-theme/SKILL.md
  dotfiles/claude/skills/dotfiles-update-flake/SKILL.md
Due: mdformat

Update plannotator skills to 0.27.4
  .pre-commit-config.yaml
  dotfiles/claude/skills/plannotator-annotate/SKILL.md
  dotfiles/claude/skills/plannotator-annotate/agents/openai.yaml
  dotfiles/claude/skills/plannotator-compound/SKILL.md
  dotfiles/claude/skills/plannotator-compound/references/claude-code-fallback.md
  dotfiles/claude/skills/plannotator-last/SKILL.md
  dotfiles/claude/skills/plannotator-last/agents/openai.yaml
  dotfiles/claude/skills/plannotator-review/SKILL.md
  dotfiles/claude/skills/plannotator-review/agents/openai.yaml
  dotfiles/claude/skills/plannotator-setup-goal/SKILL.md
  dotfiles/claude/skills/plannotator-setup-goal/SKILL.test.ts
  dotfiles/claude/skills/plannotator-setup-goal/scripts/scaffold_goal.py
  dotfiles/claude/skills/plannotator-visual-explainer/SKILL.md
  dotfiles/claude/skills/plannotator-visual-explainer/SKILL.test.ts
  dotfiles/claude/skills/plannotator-visual-explainer/references/design-system.md
  dotfiles/claude/skills/plannotator-visual-explainer/references/pr-components.md
  dotfiles/claude/skills/plannotator-visual-explainer/references/svg-patterns.md
  dotfiles/claude/skills/plannotator-visual-explainer/references/theme-override.md
  dotfiles/opencode/commands/plannotator-annotate.md
  dotfiles/opencode/commands/plannotator-last.md
  dotfiles/opencode/commands/plannotator-review.md
Due: mdformat

Replace ttyd-nerd fork with nixpkgs ttyd
  hosts/remote-devbox/nixos/services.nix
Due: alejandra

Limit GRUB to 3 configurations
  hosts/remote-devbox/nixos/configuration.nix
Due: alejandra

Update nixpkgs flake input
  flake.lock
Due: none

Add mistral-vibe via uvx wrapper
  home-manager/common/packages.nix
Due: alejandra

Add Mistral Vibe configuration with Scaleway provider
  dotfiles/vibe/config.toml
  home-manager/common/dotfiles.nix
  home-manager/common/packages.nix
Due: alejandra

Fix vibe config location: use ~/.vibe/config.toml instead of ~/.config/vibe
  dotfiles/vibe/config.toml
  home-manager/common/dotfiles.nix
Due: alejandra

Fix vibe provider backend case
  dotfiles/vibe/config.toml
Due: none

Unlock GPG key on claude and vibe launch
  home-manager/common/packages.nix
Due: alejandra

atuin search mode + claude verbosity
  dotfiles/claude/settings.json
  home-manager/common/programs/atuin.nix
Due: alejandra

Add personal writing-style hook
  dotfiles/claude/hooks/enforce-writing-style.sh
  dotfiles/claude/settings.json
  dotfiles/claude/writing-style.md
Due: mdformat

catching up on some settings
  dotfiles/claude/settings.json
  dotfiles/direnv/direnv.toml
  home-manager/common/programs/tmux.nix
Due: alejandra
