Repository ade-sede/dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: alejandra, mdformat

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.22.1
    hooks:
      - id: gitleaks

  - repo: local
    hooks:
      - id: alejandra
        name: alejandra
        entry: alejandra
        language: system
        files: \.nix$
        
      - id: mdformat
        name: mdformat
        entry: mdformat
        language: system
        files: \.md$

fix: no yellow in ls color, use red for regular files
  dotfiles/fish/custom_config.fish
Due: none

chore: disable fish greeting
  dotfiles/fish/scripts/greeting.fish
Due: none

chore: disable direnv logging
  dotfiles/fish/custom_config.fish
Due: none

feat: claude can use `time`
  dotfiles/claude/settings.json
Due: none

claude code can use xargs
  dotfiles/claude/settings.json
Due: none

feat: iputils to common
  home-manager/common/packages.nix
Due: alejandra

feat: experiment with sst/opencode
  .gitignore
  home-manager/common/packages.nix
  nixos/linux/programs.nix
Due: alejandra

claude not allowed to CD
  dotfiles/claude/settings.json
Due: none

feat: Move opencode config to dotfiles
  dotfiles/opencode/config.json
  home-manager/common/dotfiles.nix
Due: alejandra

readme update
  AGENTS.md
  CLAUDE.md
  README.md
  docs/REMOTE_DEV.md
  home-manager/README.md
  nixos/README.md
  scripts/key-management/README.md
Due: mdformat

doc
  AGENTS.md
  dotfiles/opencode/config.json
Due: mdformat

refactor: Remove litellm configuration
  dotfiles/litellm/README.md
  dotfiles/litellm/config.yaml
  dotfiles/litellm/docker-compose.yml
  dotfiles/litellm/launch-litellm.sh
  home-manager/common/packages.nix
Due: alejandra, mdformat

instructions for agents
  .claude/settings.local.json
  AGENTS.md
  CLAUDE.md
  dotfiles/opencode/config.json
Due: mdformat

signal on linux
  home-manager/linux/packages.nix
Due: alejandra

doc
  README.md
Due: mdformat

chore: remove codex
  dotfiles/codex/config.yaml
  dotfiles/codex/instructions.md
  home-manager/common/dotfiles.nix
  home-manager/common/packages.nix
Due: alejandra, mdformat

fix: git pull rebase false
  home-manager/common/git.nix
Due: alejandra

diguise ghostty as xterm256 color
  dotfiles/fish/custom_config.fish
  dotfiles/ghostty/config
Due: none

remove iputils from packages
  home-manager/common/packages.nix
Due: alejandra

feat: add gemini CLI
  home-manager/common/packages.nix
Due: alejandra

move linux desktop packages to specific file
  home-manager/linux/packages.nix
  hosts/koala-devbox/home-manager/default.nix
  hosts/koala-devbox/home-manager/packages.nix
Due: alejandra

chore: agent should never comment
  AGENTS.md
Due: mdformat

chore: AGENTS.md
  AGENTS.md
Due: mdformat

feat: ctrl-g to fzf changes files on git
  dotfiles/fish/custom_config.fish
Due: none

floating neogit window
  dotfiles/nvim/lua/plugins/neogit.lua
Due: none

feat: gitlinker in nvim
  dotfiles/nvim/lazy-lock.json
  dotfiles/nvim/lua/plugins.lua
Due: none

improve LLM agents instructions
  dotfiles/claude/settings.json
  dotfiles/opencode/AGENTS.md
Due: mdformat

refactor(nvim): Modularize plugin configs
  dotfiles/nvim/lua/plugins.lua
Due: none

refactor(nvim): disable avante plugin
  dotfiles/nvim/lua/plugins/avante.lua
Due: none

docs: Document commit style
  dotfiles/claude/CLAUDE.md
  dotfiles/opencode/AGENTS.md
Due: mdformat

refactor(nvim): Modularize plugin configs
  dotfiles/nvim/lua/plugins/autopairs.lua
  dotfiles/nvim/lua/plugins/cmp.lua
  dotfiles/nvim/lua/plugins/dashboard.lua
  dotfiles/nvim/lua/plugins/gitlinker.lua
  dotfiles/nvim/lua/plugins/lazydev.lua
  dotfiles/nvim/lua/plugins/lsp-progress.lua
Due: none

feat(nvim): add claudecode plugin
  dotfiles/nvim/lua/plugins/claudecode.lua
  dotfiles/nvim/lua/plugins/snacks.lua
Due: none

refactor(nvim): modularize plugin configuration
  dotfiles/nvim/init.lua
  dotfiles/nvim/lazy-lock.json
  dotfiles/nvim/lua/plugins.lua
  dotfiles/nvim/lua/plugins/autopairs.lua
  dotfiles/nvim/lua/plugins/ayu.lua
  dotfiles/nvim/lua/plugins/cellular-automaton.lua
  dotfiles/nvim/lua/plugins/cmp.lua
  dotfiles/nvim/lua/plugins/cmp_luasnip.lua
  dotfiles/nvim/lua/plugins/comment.lua
  dotfiles/nvim/lua/plugins/conform.lua
  dotfiles/nvim/lua/plugins/copilot.lua
  dotfiles/nvim/lua/plugins/dap-python.lua
  dotfiles/nvim/lua/plugins/dap-ui.lua
  dotfiles/nvim/lua/plugins/dap.lua
  dotfiles/nvim/lua/plugins/dashboard.lua
  dotfiles/nvim/lua/plugins/dracula.lua
  dotfiles/nvim/lua/plugins/editorconfig-vim.lua
  dotfiles/nvim/lua/plugins/editorconfig.lua
  dotfiles/nvim/lua/plugins/github-theme.lua
  dotfiles/nvim/lua/plugins/gitlinker.lua
  dotfiles/nvim/lua/plugins/lazydev.lua
  dotfiles/nvim/lua/plugins/leap.lua
  dotfiles/nvim/lua/plugins/lint.lua
  dotfiles/nvim/lua/plugins/lsp-progress.lua
  dotfiles/nvim/lua/plugins/lsp-zero.lua
  dotfiles/nvim/lua/plugins/lualine.lua
  dotfiles/nvim/lua/plugins/neogit.lua
  dotfiles/nvim/lua/plugins/nightfox.lua
  dotfiles/nvim/lua/plugins/oil.nvim.lua
  dotfiles/nvim/lua/plugins/onedark.lua
  dotfiles/nvim/lua/plugins/packer.lua
  dotfiles/nvim/lua/plugins/project.lua
  dotfiles/nvim/lua/plugins/telescope-fzf-native.lua
  dotfiles/nvim/lua/plugins/telescope.lua
  dotfiles/nvim/lua/plugins/treesitter-context.lua
  dotfiles/nvim/lua/plugins/treesitter-playground.lua
  dotfiles/nvim/lua/plugins/treesitter.lua
  dotfiles/nvim/lua/plugins/trouble.lua
  dotfiles/nvim/lua/plugins/wilder.lua
Due: none

feat(nvim): integrate stylua and make claudecode eager
  .gitignore
  .pre-commit-config.yaml
  dotfiles/nvim/after/plugin/telescope.lua
  dotfiles/nvim/after/plugin/treesitter.lua
  dotfiles/nvim/init.lua
  dotfiles/nvim/lua/clipboard.lua
  dotfiles/nvim/lua/plugins/avante.lua
  dotfiles/nvim/lua/plugins/claudecode.lua
  dotfiles/nvim/lua/plugins/nvim-tree.lua
  home-manager/common/packages.nix
Due: alejandra

feat(nvim): configure lsp servers to use system path
  dotfiles/nvim/after/plugin/lsp.lua
Due: none

fix: nix syntax
  home-manager/common/packages.nix
Due: alejandra

feat: add direnv
  home-manager/common/packages.nix
  home-manager/common/programs.nix
Due: alejandra

feat: update prompt and direnv config
  dotfiles/direnv/direnv.toml
  dotfiles/fish/custom_config.fish
  dotfiles/starship.toml
  home-manager/common/dotfiles.nix
Due: alejandra

fix: starship prompt
  dotfiles/starship.toml
Due: none

refactor: centralize theme configuration
  THEME.md
  dotfiles/kitty/3024_Night.conf
  dotfiles/kitty/kitty.conf
  dotfiles/nvim/after/plugin/color.lua
  dotfiles/starship.toml
  home-manager/common/dotfiles.nix
  home-manager/common/home.nix
  home-manager/common/programs.nix
  home-manager/common/programs/bat.nix
  home-manager/common/programs/direnv.nix
  home-manager/common/programs/fish.nix
  home-manager/common/programs/git.nix
  home-manager/common/programs/kitty.nix
  home-manager/common/programs/neovim.nix
  home-manager/common/programs/ssh-gpg.nix
  home-manager/common/programs/starship.nix
  home-manager/common/programs/tmux.nix
  hosts/alan-macbook/constants.nix
  hosts/alan-macbook/home-manager/default.nix
  hosts/koala-devbox/constants.nix
  hosts/koala-devbox/home-manager/standalone.nix
  hosts/remote-devbox/constants.nix
  hosts/remote-devbox/home-manager/standalone.nix
  themes/colors.nix
Due: alejandra, mdformat
